@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}



footer{

    section{
        background-color: #0282f9;

        .container-footer-top {
            margin: 0 auto;
            width: 80%;
            padding: 50px 30px;
            height: 160px;
            display: flex;

            ul {
                list-style: none;
                display: flex;
                align-items: center;

                li{
                    /*width: calc(100% / 5);
                    padding: 40px 20px;*/
                    display: flex;
                    align-items: center;

                    .img{
                        width: 50px;
                        margin-right: 20px;
                    }

                    a{
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: white;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .footer-middle {
        background: url(../img/dc-logo-bg.png) center right 15% no-repeat , url(../img/footer-bg.jpg) left top no-repeat ;
        background-size: auto, cover; 
        .footer-middle-container {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .middle-left {
                display: flex;
                padding-top: 30px;
            }
        }
        h2 {
            color: white;
            padding-bottom: 10px;
            font-size: 16px;
        }
        ul {
            list-style: none;
            flex-direction: column;
            a {
                color: lighten(#698888,10%);
                text-decoration: none;
                font-size: 12px;
            }
        }
        .comic-list {
            padding-bottom: 20px;
        }
        .dc-list {
            padding: 0 40px;
        }
    }
}

